* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 25px;
    color: rgb(23, 8, 8);
  }
  
  body {
    font-family: "Source Serif 4", sans-serif;
    text-align: center;
    font-weight: 400;
    background-color: #ebd9c7;
  }

  header {
    background-color: #333;
    color:  #ebd9c7;
    padding: 10px;
    
}
.about {
    padding: 50px;
    h2 {
        margin-bottom: 30px;
    } 
}

.hobbies {
    margin-bottom: 50px;
    
    ul {
        list-style-type: none;
        padding: 20px 0;
        
    }

}
footer {
    background-color: #333;
    position: fixed;
    width: 100%;
    color:  #ebd9c7;
    a {
        color:  #ebd9c7;
        text-decoration: none;
        
    }
}